<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<title></title>
<link href="t-1.css" rel="stylesheet" type="text/css">
</head>
<body>
<form name="form1" method="post" action="$presentation.zero.LoginController.ctrl">
  <table width="34%" border="0" align="center">
    <tr> 
      <td><div align="right">用户名:</div></td>
      <td><input name="username" type="text" id="username" value="HenryYu"></td>
    </tr>
    <tr> 
      <td><div align="right">密 码:</div></td>
      <td><input name="password" type="text" id="password" value="888888"></td>
    </tr>
    <tr> 
      <td colspan="2"><div align="center">
	      <INPUT TYPE="hidden" NAME="veiwFlag" value="0">
          <input type="submit" name="Submit" value="提交">
        </div></td>
    </tr>
  </table>
</form>
</body>
</html>
